.main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.img {
    position: relative;
    width: 232px;
    height: 320px;
    background-color: var(--bg);
}
img {
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease-out;
}
.img:hover img:last-child {
    opacity: 0;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.up {
    margin-top: -12px;
}
.mid {
    text-align: center;
}

.hobby {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.hobby ul {
    flex-direction: column;
    gap: 0;
    list-style: "◆ ";
    padding-left: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer span.hand {
    color: var(--secc2);
    text-align: right;
}

@media screen and (max-width: 795px) {
    .container {
        margin-top: 0;
    }
    .main {
        display: flex;
        flex-direction: column;
    }

    .links ul {
        width: 100%;
    }
}

@media screen and (max-width: 547px) {
    .hobby {
        font-size: 14px;
    }
}

@media screen and (max-width: 503px) {
    .hobby {
        font-size: 16px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 436px) {
    .links {
        flex-wrap: nowrap;
    }

    .links ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 377px) {
    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: larger;
    }
}