header, .action {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

ul.tags li {
    padding: 8px 12px;
    border-radius: 24px;
}
li.y {
    background-color: #278142;
    color: #3dd137;
}
li.m {
    background-color: #9b8028;
    color: #d2d42c;
}
li.n {
    background-color: #911526;
    color: #da3030;
}

table {
    background: var(--bg);
    border-spacing: 0;
}

tbody > tr:nth-child(2n-1) {
    background-color: var(--bg2);
}

th, td {
    padding: 12px 16px;
}
th {
    background-color: var(--main);
    color: var(--bg2);
}
tbody > tr:nth-child(2n-1) > th {
    background-color: var(--main2);
}