header, .action {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

ul.tags {
    flex-wrap: wrap;
}

ul.tags li {
    padding: 8px 12px;
    border-radius: 24px;
}
li.y {
    background-color: #27814236;
    color: #3dd137;
}
li.m {
    background-color: #9b802838;
    color: #d4c32c;
}
li.n {
    background-color: #9115263f;
    color: #da3030;
}

table {
    background: var(--bg);
    border-spacing: 0;
}

tbody > tr:nth-child(2n-1) {
    background-color: var(--bg2);
}

th, td {
    padding: 12px 16px;
}
th {
    background-color: var(--main);
    color: var(--bg2);
    font-family: var(--fhand);
}
tbody > tr:nth-child(2n-1) > th {
    background-color: var(--main2);
}

ul.additional {
    justify-content: space-around;
    flex-wrap: wrap;
}



@media screen and (max-width: 568px) {
    header {
        align-items: start;
    }

    header .action {
        flex-direction: column;
    }
}

@media screen and (max-width: 504px) {
    table {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    header {
        align-items: stretch;
        flex-direction: column;
    }

    .button {
        justify-content: center;
    }

    th, td {
        padding: 8px;
    }
}