@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Ruslan+Display&display=swap');

:root {
    --bg: #1e1e27;
    --bg2:#232838;
    --main: #5b69e9;
    --main2: #5f85ec;
    --secc: #e6be3b;
    --secc2: #f7ec56;
    --text: #f5f4ec;

    --fhand: 'Caveat';
    --fhead: 'Ruslan Display';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 12px;
}

.container {
    padding: 32px;
    border-radius: 24px;
    background-color: var(--bg2);

    max-width: 830px;
    margin: 10vh auto 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

h1, h2, h3 {
    font-family: var(--fhead);
    font-weight: normal;
}

.hand {
    font-family: var(--fhand);
    font-weight: bold;
    color: var(--main2);
}

a {
    text-decoration: none;
    color: var(--secc);
    cursor: pointer;
    transition: .3s ease-out;
}
a:hover {
    color: var(--secc2);
}

.button {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 24px;
    background-color: var(--main);

    color: var(--bg2);
    transition: .3s ease-out;
    cursor: pointer;
}
.button:hover {
    color: var(--bg);
    background-color: var(--main2);
}
.button.secc {
    background-color: var(--secc);
}
.button.secc:hover {
    background-color: var(--secc);
}

ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    list-style: none;
}

.icon {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: var(--bg);
    justify-content: center;
}

img {
    display: block;
    width: 100%;
}