@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Ruslan+Display&display=swap');

:root {
    --bg: #1e1e27;
    --bg2:#232838;
    --main: #5b69e9;
    --main2: #5f85ec;
    --text: #f5f4ec;

    --fhand: 'Caveat';
    --fhead: 'Ruslan Display';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 12px;
}

.container {
    padding: 32px;
    border-radius: 24px;
    background-color: var(--bg2);

    max-width: 830px;
    margin: 10vh auto 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.main {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.img {
    position: relative;
    width: 232px;
    height: 320px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 232px;
    height: 320px;
    background-color: var(--bg2);
    transition: .3s ease-out;
}
.img:hover img:last-child {
    opacity: 0;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    width: 520px;
}

h1, h2, h3 {
    font-family: var(--fhead);
    font-weight: normal;
}

.up {
    margin-top: -12px;
}
.mid {
    text-align: center;
}

.hand {
    font-family: var(--fhand);
    font-weight: bold;
    color: var(--main2);
}

ul.hobby {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
    height: 135px;
}
ul.hobby > li > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
}

ul.links {
    list-style: none;

    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: var(--bg);
    justify-content: center;
}

a {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 24px;
    background-color: var(--main);

    color: var(--bg2);
    text-decoration: none;
    transition: .3s ease-out;
    cursor: pointer;
}
a:hover {
    color: var(--bg);
    background-color: var(--main2);
}